<br>
<div class="wrapper">
  <button class="ui inverted black button" (click)="show = !show">{{show ? 'Hide' : 'See your list'}}</button>
</div>
<br>
<div *ngIf="show">
    <h2 class="ui center aligned icon header">
        <i class="massive calendar check outline icon"></i>
        Your to do list
      </h2>
  <div *ngIf="places" id="myList">
    <div class="ui raised segment" *ngFor="let place of places; let i = index">
        <div class="ui two column centered grid">
            <div class="column">
      <h4 class="item">Name: {{places[i].Name}} </h4>
      <h4 class="item">Address: {{places[i].Address}} </h4>
      <h4 class="item">Rating: {{places[i].Rating}} </h4>
            </div>
            <div class="column">
      <img href="places[i].Image">

        <div class="field">
          <textarea rows="4" #note placeholder="Add a note"></textarea><br>
          <button class="ui teal button" (click)="addNote(note.value)">Add Note</button>
          <button class="ui teal button" (click)="deletePlace(place)">Finished</button>

          <div class="ui vertical divider">
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>

